.todo-item {
  font-size: 1.25rem;
  max-width: 400px;
}

.todo-item button {
  width: 35px;
  margin: 3px;
}

.todo-item__text {
  margin-left: 1.25rem;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.todo-item.done .todo-item__text {
  text-decoration: line-through;
}

.todo-item.important .todo-item__text {
  font-weight: bold;
  color: steelblue;
}